.background div {
	border-radius: 50%;
	background-color: black;
	position: absolute;
	opacity: 0.3;
}
.backCircle {
	width: 30vw;
	height: 30vw;
	left:35vw;
	top: 15vw;
}
.middleCircle {
	width: 40vw;
	height: 40vw;
	left:30vw;
	top: 10vw;
}
.frontCircle {
	width: 50vw;
	height: 50vw;
	left:25vw;
	top: 5vw;
}
